header{
    background-color:#512143 ;
    color: rgb(249, 163, 58);
    padding: 20px;
}
.head{
    text-align: center;

}
main{
    padding: 20px;
    
}
section{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
}
.div1 img{
    border-radius: 20px;
    width: 350px;
    height: 350px;

}
.div1{
    background-color: #b6a54a;
    padding: 20px;
    border-radius:20px ;
}

p{
    text-align: center;
    color: aliceblue;
}
.descript1{
    background-color: #a0873f;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}

.div2 img{
    border-radius: 20px;
    width: 350px;
    height: 350px;

}
.div2{
    background-color: #57acb9;
    padding: 20px;
    border-radius:20px ;
}

.descript2{
    background-color: #3b909f;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}
.div3 img{
    border-radius: 20px;
    width: 350px;
    height: 350px;

}

.div3{
    background-color: #c4581b;
    padding: 20px;
    border-radius:20px ;
}

.descript3{
    background-color: #a33d1a;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 30px;
    padding: 20px;
}
footer{
    background-color:#534fff ;
    color: rgb(249, 163, 58);
    padding: 5px;
}



